### 1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to afile named test.txt.

In [1]:
test1 = "This is a test of the emergency text system"
with open("test.txt","w") as f:
    f.write(test1)

#### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1and test 2?

In [2]:
with open("test.txt","r") as f:
    test2 = f.read()

In [3]:
test1==test2

True

In [ ]:
#### 3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [4]:
dic = {
    "Title":["The Weirdstone of Brisingamen","Perdido Street Station","Thud!","The Spellman Files","Small Gods"],
    "Author":["Alan Garner","Mieville","Pratchett","lisa lutz","pratchett"],
    "year":["1960","2000","2005","2007","1992"]
}

In [6]:
import json
with open("new_book.csv","w") as f:
    json.dump(dic,f)

```
import csv

# Define the data
data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

# Create and write to the CSV file
with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

print("CSV file created successfully.")
```

In [8]:
import sqlite3

# Connect to the SQLite database (create it if it doesn't exist)
connection = sqlite3.connect("books.db")

# Create a cursor object to execute SQL commands
cursor = connection.cursor()

# Create the books table
create_table_query = '''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
'''

cursor.execute(create_table_query)
connection.commit()

# Close the database connection
connection.close()

print("SQLite database created successfully.")

SQLite database created successfully.

### 5. Read books.csv and insert its data into the book table.

In [10]:
import sqlite3
import csv

# Connect to the SQLite database
connection = sqlite3.connect("books.db")
cursor = connection.cursor()

# Create the books table if it doesn't exist
create_table_query = '''
CREATE TABLE IF NOT EXISTS books (
    title TEXT,
    author TEXT,
    year INTEGER
)
'''
cursor.execute(create_table_query)

# Read data from the CSV file and insert into the books table
with open("books.csv", "r") as file:
    csv_reader = csv.reader(file)
    next(csv_reader)  # Skip the header row

    for row in csv_reader:
        title, author, year = row
        insert_query = "INSERT INTO books (title, author, year) VALUES (?, ?, ?)"
        cursor.execute(insert_query, (title, author, int(year)))

# Commit the changes and close the database connection
connection.commit()
connection.close()

print("Data inserted into the SQLite database successfully.")

Data inserted into the SQLite database successfully.

In [11]:
import sqlite3

# Connect to the SQLite database
connection = sqlite3.connect("books.db")
cursor = connection.cursor()

# Select all rows from the books table
select_query = "SELECT * FROM books"
cursor.execute(select_query)

# Fetch all rows and print the data
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the database connection
connection.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

### 6. Select and print the title column from the book table in alphabetical order.

In [17]:
con = sqlite3.connect("books.db")
cursor = con.cursor()
query =  "SELECT TITLE FROM BOOKS ORDER BY TITLE ASC"
cursor.execute(query)
data = cursor.fetchall()
for i in data:
    print(i)
con.close()

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

### 7. From the book table, select and print all columns in the order of publication.

In [20]:
con = sqlite3.connect("books.db")
cursor = con.cursor()
query =  "SELECT *FROM BOOKS ORDER BY YEAR ASC"
cursor.execute(query)
data = cursor.fetchall()
for i in data:
    print(i)
con.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made inexercise 6.

In [21]:
import sqlalchemy
from sqlalchemy import create_engine

# Create the connection string
db_url = "sqlite:///books.db"

# Create the engine
engine = create_engine(db_url)

# Establish a connection
connection = engine.connect()

# Perform database operations
result = connection.execute("SELECT * FROM books")

for row in result:
    print(row)

# Close the connection
connection.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)